body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  padding: 1rem;
}

h1, h2, h3 {
  font-weight: 800;
  margin-top: 1rem;
}

h3 {
  font-size: 1.4rem;
}

dt {
  margin-top: 0.5rem;
  font-weight: 800;
}

p, ul {
  margin-top: 1rem;
}

p {
  max-width: 65ch;
}

ul li ul {
  margin-top: 0;
  font-size: 0.75rem;
}

ul, li {
  list-style-type: none;
  padding: 0;
}

#routeEmbed {
  max-width: 600px;
}

@media (width <= 600px) {
  p, h2 {
    max-width: 90%;
  }
}

